@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.bg-image {
  background-image: url('/images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  z-index: -1;
  width: 100%;
}